* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color:rgb(209, 209, 209);
}

body, html, #root {
  height: 100%;
  font-family: Lato, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.pane {
  flex: 1;
  display: flex;
  padding:1.5em 5em;
  flex-direction:column;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
}

.left-pane {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(38,78,121,1) 100%);
  display:flex;
  flex-direction:column;
  
}

.right-pane {
  background: rgb(251,110,63);
background: radial-gradient(circle, rgba(251,110,63,1) 0%, rgba(251,133,0,1) 100%);
}

.pane h1 {
  cursor: pointer;
}

.left-pane.expanded {
  flex: 10;
  padding: 7rem 0;
  
}

.right-pane.expanded {
  flex: 10;
  padding: 7rem 0;
  
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  font-size: 24px;
  font-weight: bold;
}

.logo-moved-left{
  position: absolute;
  top: 2.5em;
  left: 10%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  font-size: 24px;
  font-weight: bold;
}

.logo-moved-right{
  position: absolute;
  top: 2.5em;
  left:90%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  font-size: 24px;
  font-weight: bold;
}

.pane-nav{
  display:flex;
  justify-content: space-evenly;
}

.image-generic{
  border:transparent;
  border-radius:25px;
  width:100%;

}

.pane-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:2.5em;
  align-items: center;
  padding: 1.5em 0;
}